.names ul{
    list-style: none;
    display: flex;
    gap: 30px;
    margin-top: 80px;
}

.names .repos > li{
    border: solid white 2px;
    width: 300px;
    display: flex;
    justify-content: center;
    height: 150px;
    align-items: center;
    border-radius: 10px;

    position: relative;
    overflow: hidden;
}

.names .repo-content{
    transition: blur(4px);
}

.names .repos > li:hover .repo-content {
    filter: blur(4px);
    }

.names .repos >li:hover{
    background: rgba(0,0,0,0.75);
    transform: scale(1.03);
}

.names .repos > li:hover .repo-button {
    opacity: 1;
    }

.names .repo-button{
    position: absolute;
    opacity: 0;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.names h2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.data{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto 0 auto;
}

.data h2{
    margin-bottom: 0;
}

.data h1{
    margin-top: 100px;
}

.data ul{
    margin-top: 0;
    margin-bottom: 0;
}

#diagram{
    width: 600px;
    height: 400px;
}

.seperator{
    display: flex;
    margin: 100px 0 20px 0;
    justify-content: center;
    border-bottom: 2px dotted white;
}

.seperator > h2{
    margin-bottom: 30px;
}